<!--Creacion de la vista de admin-->
<!--Las siguientes líneas son solo html-->
@{
    ViewData["Title"] = "Admin Page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adminsts.css">
    <title>Home</title>
</head>
<body>
    <div class="cabeza">
        <h1>MIKUTECH</h1>
        <p>Lorem ipsummdawdawdawd</p>
        <p>Lorem ipsummdawdawdawd</p>
        <p>Lorem ipsummdawdawdawd</p>
    </div>
</body>