@model Protov4.DTO.ProductoDTO

<!--Creacion de la vista de admin-->
<!--Las siguientes líneas son solo html-->
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/adminsts.css">
    <title>Admin</title>
</head>
<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <img src="~/recursos/Miku_logo.png" alt="Logo de MIKUTECH">
                <h1>MIKUTECH ADMIN</h1>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#pedidos">Pedidos</a></li>
                    <li><a href="#auditoria">Auditoria</a></li>
                    <li><button class="btn-salir">Salir</button></li>
                </ul>
            </nav>
        </header>
    </div>


    <section id="productos" class="productos">
        <div class="contenido-seccion">
            <div class="contenedor-titulo">
                <h2>PRODUCTOS</h2>
            </div>
            
            <div class="fila">
                <div class="columna">
                    <label for="Id">ID del Producto:</label>
                    <input type="text" placeholder="Id del producto" name="Id" id="Id">
                </div>
                <div class="columna">
                    <label for="Nombre_Producto">Nombre del Producto:</label>
                    <input type="text" placeholder="Ingrese el Nombre del Producto" name="nombre_Producto" id="nombre_Producto">
                </div>
                <div class="columna">
                    <label for="Precio">$ Precio:</label>
                    <input type="text" placeholder="Ingrese el Precio" name="Precio" id="Precio">
                </div>
                <div class="columna">
                    <label for="Marca">Marca del Producto:</label>
                    <input type="text" placeholder="Marca del producto" name="Marca" id="Marca">
                </div>
                <div class="columna">
                    <label for="Existencia">Existencias:</label>
                    <input type="text" placeholder="Existencia del Producto" name="Existencia" id="Existencia">
                </div>
                <div class="columna">
                    <label for="Tipo">Tipo del producto:</label>
                    <input type="text" placeholder="Tipo del Producto" name="Tipo" id="Tipo">
                </div>
                <div class="columna">
                    <label for="Imagen">Imagen del producto:</label>
                    <input type="file" placeholder="Imagen del Producto" name="Imagen" id="Imagen">
                </div>
                <div class="columna">
                    <label for="Fabricante">Fabricante del producto:</label>
                    <input type="text" placeholder="Fabricante del Producto" name="Fabricante" id="Fabricante">
                </div>
                <div class="columna">
                    <label for="Modelo">Modelo del producto:</label>
                    <input type="text" placeholder="Modelo del Producto" name="Modelo" id="Modelo">
                </div>
                <div class="columna">
                    <label for="Velocidad">Velocidad del producto:</label>
                    <input type="text" placeholder="Velocidad del Producto" name="Velocidad" id="Velocidad">
                </div>
                <div class="columna">
                    <label for="Zócalo">Zócalo del producto:</label>
                    <input type="text" placeholder="Zózalo del Producto" name="Zócalo" id="Zócalo">
                </div>
                <div class="columna">
                    <label for="TamañoVRAM">TamañoVRAM del producto:</label>
                    <input type="text" placeholder="TamañoVRAM del Producto" name="TamañoVRAM" id="TamañoVRAM">
                </div>
                <div class="columna">
                    <label for="Interfaz">Interfaz del producto:</label>
                    <input type="text" placeholder="Interfaz del Producto" name="Interfaz" id="Interfaz">
                </div>
                <div class="columna">
                    <label for="Tamañomemoria">Tamaño de memoria del producto:</label>
                    <input type="text" placeholder="Tamaño de memoria del Producto" name="Tamañomemoria" id="Tamañomemoria">
                </div>
                <div class="columna">
                    <label for="TecnologíaRAM">Tecnología RAM del producto:</label>
                    <input type="text" placeholder="TecnologiaRAM del Producto" name="TecnologíaRAM" id="TecnologíaRAM">
                </div>
                <div class="columna">
                    <label for="Almacenamiento">Almacenamiento del producto:</label>
                    <input type="text" placeholder="Almacenamiento del Producto" name="Almacenamiento" id="Almacenamiento">
                </div>
                <div class="columna">
                    <label for="Descripción">Descripción del producto:</label>
                    <input type="text" placeholder="Descripción del Producto" name="Descripción" id="Descripción">
                </div>
            </div>
            
            <div class="btn-contenedor">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-info">Limpiar</button>
            </div>
        </div>
    </section>

</body>
</html>