<!--Creacion de la vista de admin-->
<!--Las siguientes líneas son solo html-->
@*@model Protov4.DTO.ProductoDTO*@
@*@{
    Layout = null;
}*@

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/adminsts.css">
    <title>Admin</title>
</head>
<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <img src="~/recursos/Miku_logo.png" alt="Logo de MIKUTECH">
                <h1>MIKUTECH ADMIN</h1>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#pedidos">Pedidos</a></li>
                    <li><a href="#auditoria">Auditoria</a></li>
                    <li><button class="btn-salir">Salir</button></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="lista-productos">
        <div class="titulo">
            <div class="contenedor-titulo">
                <h2>LISTADO DE PRODUCTOS</h2>
                <i class="bi bi-arrow-clockwise"></i>
            </div>
        </div>
        <div class="contenedor-buscar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar Producto">
                <i class="bi bi-search"></i>
            </form>
        </div>

        <div class="herramientas">
            <div class="btn-Crear">
                <a asp-action="Create">Agregar nuevo producto</a>
            </div>
        </div>

        <div class="contenedor-tabla">
            <table class="tabla-productos">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre producto
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Existencia
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model){*@
                    <tr>
                        <td>
                            MT2548
                        </td>
                        <td>
                            Nombre_producto
                        </td>
                        <td>
                            $14,00
                        </td>
                        <td>
                            Gamemax
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            <a class="btn-Editar" asp-action="Edit">Editar</a>
                            <a class="btn-Detalles" asp-action="Details">Detalles</a>
                            <a class="btn-Eliminar" asp-action="Delete">Eliminar</a>
                        </td>
                    </tr>
                    @*}*@
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>