@{
    ViewData["Title"] = "Acerca de MikuTech";
}
<main aria-labelledby="title">
    <style>
    
    </style>
    <div class="fondo">
    <p id ="Titulo1">
        Contacto
    </p>
    <p id="Titulo2">
        Ubicanos
    </p>
    <div class="cuadrado">
            <p id ="Texto1">
                Horarios de Atención<br>
            <p/>
             <p id= "Texto1">
                Lun - Vie (9:00 - 18:00)<br>
                Sáb (10:00 - 17:00)<br>
            </p>
            <p id ="Texto2">
                Dirección: Quito<br>
                Correo: support@mikutech.com<br>
                Número: +593 98 965 9723<br>
            </p>
        <span id="Iconos">
            <img src="~/recursos/google-mas.png" alt="Imagen"/>
            <img src="~/recursos/facebook.png" alt="Imagen"/>
            <img src="~/recursos/instagram.png" alt="Imagen"/>
            <img src="~/recursos/signo-de-twitter.png" alt="Imagen"/>
            <img src="~/Recursos/whatsapp.png" alt="Imagen"/>
        </span>

    </div>


        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7938599199674!2d-78.50496918927323!3d-0.20062879979654438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a8c54484dc1%3A0xd181ba6389c436e2!2sUniversidad%20Central%20del%20Ecuador!5e0!3m2!1ses!2sec!4v1689210739449!5m2!1ses!2sec" width="600" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <p id="Pie">&copy; 2023 YourWebsiteName. All rights reserved.</p>

</main>
