
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Home</title>
</head>
<body>
    <div class="body-container">
        <div class="container-row-1">
            <div class="column-left">
                <div class="welcome-container">
                    <h2>Bienvenido a</h2>
                    <h3>MIKUTECH</h3>
                </div>
                <div class="welcome-text-container">
                    <a>
                        ¡Bienvenido a nuestra tienda online de componentes de computadoras!
                        Aquí encontrarás una amplia selección de productos de alta calidad
                        para potenciar tu experiencia informática. Desde potentes procesadores
                        y tarjetas gráficas hasta rápidas unidades de almacenamiento y memoria
                        RAM de alto rendimiento, tenemos todo lo que necesitas para mejorar el
                        rendimiento y la capacidad de tu PC.
                    </a>
                </div>
            </div>
            <div class="column-right">
                <img src="~/recursos/home_productos.png" alt="Imagen de fondo">
            </div>
        </div>
        <div class="catalog-separator-container">
            <div class="line-separator">
            </div>
            <div class="text-sepator">
                CATEGORÍA DE PRODUCTOS
            </div>
            <div class="line-separator">
            </div>
        </div>
        <div class="product-box-container-1">
            <div class="box-container-3">
                <img class="img-cpu" src="~/recursos/cpu-box.png" alt="Imagen de cpu">
                <p class="catalog-link"><a class="catalog-link" href="#">Procesadores</a></p>
            </div>
            <div class="box-container-3">
                <img class="img-video" src="~/recursos/video-box.png" alt="Imagen de tarjetas">
                <p class="catalog-link"><a class="catalog-link" href="#">Tarjetas de video</a></p>
            </div>
            <div class="box-container-3">
                <img class="img-placabase" src="~/recursos/placabase-box.png" alt="Imagen de placabase">
                <p class="catalog-link"><a class="catalog-link" href="#">Placas Base</a></p>
            </div>
        </div>
        <div class="product-box-container-2">
            <div class="box-container-4">
                <img class="img-ram" src="~/recursos/ram-box.png" alt="Imagen de ram">
                <p class="catalog-link"><a class="catalog-link" href="#">Memoria RAM</a></p>
            </div>
            <div class="box-container-4">
                <img class="img-fuente" src="~/recursos/fuente-box.png" alt="Imagen de fuente">
                <p class="catalog-link"><a class="catalog-link" href="#">Fuentes de poder</a></p>>
            </div>
            <div class="box-container-4">
                <img class="img-alm" src="~/recursos/alm-box.png" alt="Imagen de almacenamiento">
                <p class="catalog-link"><a class="catalog-link" href="#">Almacenamiento</a></p>
            </div>
        </div>
    </div>
</body>
</html>