<h1>Eliminar</h1>
<h3>¿Estás seguro que deseas elminar el producto?</h3>
<div class="confirmacion">
    <h4>Producto</h4>
    <hr/>
    <dl class="row">
        <dt class="col">
            Id Prodcuto
        </dt>
        <dd class="col">
            1
        </dd>

    </dl>
</div>