@{
    Layout = "~/Views/Administrador/_LayoutAdmin.cshtml";
}
<div>
    <h1>Nuevo Producto</h1>
    <label class="Texto1Form" for="Nombre">Nombre Producto</label><br>
    <input class="Boton1Form" type="text" id="Nombre" name="Nombre" required pattern="[A-Za-z0-9ñÑ\s]+"><br>
    <label class="Texto1Form" for="Precio">Precio</label><br>
    <input class="Boton1Form" type="number" id="Precio" name="Precio" required pattern="[0-9]+" inputmode="numeric"><br>
    <label class="Texto1Form" for="Marca">Marca</label><br>
    <input class="Boton1Form" type="text" id="Marca" name="Marca" required><br>
    <label class="Texto1Form" for="Existencias">Existencias</label><br>
    <input class="Boton1Form" type="number" id="Existencias" name="Existencias" required pattern="[0-9]+" inputmode="numeric"><br>
    <label class="Texto1Form" for="Tipo">Tipo</label><br>
    <input class="Boton1Form" type="text" id="Tipo" name="Tipo" required><br>
    <label class="Texto1Form" for="Fabricante">Fabricante</label><br>
    <input class="Boton1Form" type="text" id="Fabricante" name="Fabricante" required><br>
    <label class="Texto1Form" for="Modelo">Modelo</label><br>
    <input class="Boton1Form" type="text" id="Modelo" name="Modelo" required><br>
    <label class="Texto1Form" for="Zócalo">Zócalo</label><br>
    <input class="Boton1Form" type="text" id="Zócalo" name="Zócalo" required><br>
    <label class="Texto1Form" for="TamañoVram">Tamaño Vram</label><br>
    <input class="Boton1Form" type="text" id="TamañoVram" name="TamañoVram" required><br>
    <label class="Texto1Form" for="Interfaz">Interfaz</label><br>
    <input class="Boton1Form" type="text" id="Interfaz" name="Interfaz" required><br>
    <label class="Texto1Form" for="TamañoMemoria">Tamaño Memoria</label><br>
    <input class="Boton1Form" type="text" id="TamañoMemoria" name="TamañoMemoria" required><br>
    <label class="Texto1Form" for="Almacenamiento">Almacenamiento</label><br>
    <input class="Boton1Form" type="text" id="Almacenamiento" name="Almacenamiento" required><br>

</div>