@font-face {
    font-family: 'Spoof';
    src: url('Recursos/SpoofTrial-Bold.otf') format('opentype');
}



html {
    /*me permite deslizar cuando hago clic en los links del menú*/
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #411038, #0C0A22);
}

/*ESTILOS DEL MENÚ*/
.contenedor-header {
    background-color: #161A33;
    position: fixed;
    /* Establece la posición del elemento contenedor como fija */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

    .contenedor-header header {
        width: 100%;
        /* Establece el ancho máximo del elemento <header> a 1100px */
        margin: auto;
        /* Centra horizontalmente el elemento <header> dentro de su contenedor */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        /* Agrega un relleno interno al elemento <header> 
                         de 15px (arriba y abajo) y 20px (izquierda y derecha) */
    }

        .contenedor-header header .logo {
            display: flex;
            align-items: center;
            color: #fff;
        }

            .contenedor-header header .logo img {
                height: 50px;
                margin-left: 30px;
                margin-right: 25px;
            }

            .contenedor-header header .logo h1 {
                font-family: 'Spoof', sans-serif;
                font-size: 36px;
                margin: 0;
            }

        .contenedor-header header ul {
            display: flex;
            /* Elimina los estilos de viñetas (puntos o números) en la lista */
            list-style: none;
        }

        .contenedor-header header nav ul li a {
            font-family: 'Spoof', sans-serif;
            color: #fff;
            margin: 0 15px;
            padding: 3px;
            transition: .5s;
            text-decoration: none;
            font-size: 20px;
            /*Elimina el subrayado*/
        }

            .contenedor-header header nav ul li a:hover {
                color: #12CDD4;
            }

.btn-salir {
    display: inline-block;
    background-color: #161A33;
    padding: 0 15px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

    .btn-salir:hover {
        background-color: rgba(71, 73, 114, 0.1);
        border-color: #ff0000;
        color: #ff0000;
    }
/*Productos*/
.productos {
    color: #fff;
    padding: 150px 0 25px 0;
}

    .productos .contenido-seccion {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .productos .contenedor-titulo {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .productos .fila {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

        .productos .fila .columna {
            width: calc(38.33% - 10px);
            margin-bottom: 15px;
            text-align: left; /* Centrar los elementos dentro de las columnas */
        }

        .productos .fila label {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .productos .fila input {
            width: 100%; /* Anchura relativa al ancho de la columna */
            padding: 15px;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            outline: none;
        }

    .productos .btn-contenedor button {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 20px;
        color: #fff;
        font-size: 20px
    }

.lista-productos {
    color: #fff;
    text-decoration: none;
}

.titulo {
    padding-top: 150px;
    padding-bottom: 25px;
}

    .titulo .contenedor-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .titulo .contenedor-titulo i {
            margin-left: 13px;
            font-size: 28px;
            cursor: pointer;
        }

            .titulo .contenedor-titulo i:hover {
                color: #12CDD4;
            }

.contenedor-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .contenedor-buscar input {
        width: 500px;
    }

    .contenedor-buscar i {
        font-size: 28px;
        color: #fff;
        cursor: pointer;
        border: 1px solid #12CDD4;
        padding: 5px;
    }

        .contenedor-buscar i:hover {
            color: #12CDD4;
        }

.herramientas {
    margin: 20px 250px 10px 250px;
}

    .herramientas .btn-Crear {
        width: fit-content;
        margin: 0;
        margin-top: 30px;
        border: none;
        background: #309312;
        font-size: 18px;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

        .herramientas .btn-Crear a {
            text-decoration: none;
            color: #fff;
        }

.tabla-productos {
    margin: 20px 250px 10px 250px;
    border-collapse: collapse;
    text-align: center;
    background: linear-gradient(135deg, #411038, #4a448a);
}

    .tabla-productos th, .tabla-productos td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .tabla-productos th {
        font-weight: bold;
        font-size: 25px;
    }

    .tabla-productos td {
        font-size: 20px;
    }

        .tabla-productos td:last-child {
            text-align: center;
        }

    .tabla-productos .btn-Editar {
        width: fit-content;
        margin: 0;
        margin-top: 30px;
        border: none;
        background: #094ac4;
        font-size: 18px;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .tabla-productos .btn-Detalles {
        width: fit-content;
        margin: 0;
        margin-top: 30px;
        border: none;
        background: #1a8d8f;
        font-size: 18px;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .tabla-productos .btn-Eliminar {
        width: fit-content;
        margin: 0;
        margin-top: 30px;
        border: none;
        background: #af0606;
        font-size: 18px;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .tabla-productos a {
        text-decoration: none;
        color: #fff;
    }
