@font-face {
    font-family: 'Spoof';
    src: url('../recursos/SpoofTrial-Bold.otf') format('opentype');
}

/* BARRA DE NAVEGACION */

.navbar-custom {
    background-color: #161A33;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
}

    .logo img {
        height: 50px;
        margin-left: 30px;
        margin-right: 25px;
    }

    .logo h1 {
        font-family: Spoof, sans-serif;
        font-size: 36px;
        margin: 0;
    }

.navbar-nav-custom {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item-custom {
    color: #fff;
}

    .nav-item-custom a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-top: -10px;
        color: #fff;
        text-decoration: none;
        margin-left: 30px;
        margin-right: 30px;
    }

.nav-link-custom:hover {
    color: #12CDD4;
}

.nav-link-custom-btn {
    display: inline-block;
    padding: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    text-decoration: none;
    color: #474972;
}

    .nav-link-custom-btn:hover {
        background-color: rgba(71, 73, 114, 0.1);
        border-color: #12CDD4;
        color: #12CDD4;
    }

.dropdown {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

    .dropdown a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }

.dropdown-content {
    background-color: #161a33;
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

    .dropdown-content a {
        border: 2px solid #464871;
    }

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    color: #FFFFFF;
    border: 2px solid #00A4BD;
}
