
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Protov2</title>
    <link rel="stylesheet" href="~/css/layout.css" />

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="Recursos/Miku_logo.png" alt="Logo de MIKUTECH">
                <h1>MIKUTECH</h1>
            </div>
            <div class="botonera">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="admin">AD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" asp-area="" asp-controller="Acceso" asp-action="Login">Iniciar Sesión</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>